<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
        <% end %>
        <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
            <p>ユーザー名</p>
            <input value="<%= @user.name %>", name="name">
            <p>プロフィール画像</p>
            <input name="image" type="file">
            <p>メールアドレス</p>
            <input value="<%= @user.email %>", name="email">
            <p>年齢</p>
            <input value="<%= @user.age %>", name="age">
            <p>大学名/所属機関</p>
            <input value="<%= @user.belonging %>", name="belonging">
            <p>学部・学科・専攻・研究室</p>
            <input value="<%= @user.course %>", name="course">
            <p>場所</p>
            <input value="<%= @user.place %>", name="place">
            <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>

