<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/users/create",{multipart: true}) do %>
            <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
            <% end %>
            <p>ユーザー名</p>
            <input name="name", value="<%= @user.name %>">
            <p>メールアドレス</p>
            <input name="email", value="<%= @user.email %>">
            <p>パスワード</p>
            <input name="password", type="password", value="<%= @user.password %>">
            <p>年齢</p>
            <input value="<%= @user.age %>", name="age">
            <p>大学名/所属機関</p>
            <input value="<%= @user.belonging %>", name="belonging">
            <p>学部・学科・専攻・研究室</p>
            <input value="<%= @user.course %>", name="course">
            <p>場所</p>
            <input value="<%= @user.place %>", name="place">
            <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>
