<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <!-- ユーザー名 -->
      <h2><%= "#{@user.name}(#{@user.age})" %></h2>
      <!-- メールアドレス -->
      <p><%= @user.email %></p>
      <!-- 学校名・所属機関　-->
      <p class="belongs"><%= @user.belonging %></p>
      <p><%= @user.course %></p>
      <p class="yourplace"><%= @user.place %></p>
    </div>
    <div class="user-menus">
      <% if @user.id == @current_user.id %>
          <%= link_to"編集", "/users/#{@user.id}/edit", class:"btn btn-default btn_y"%>
          <%= link_to "退会する", "/users/#{@user.id}/destroy", method:"post", class:"btn btn-default btn_y" %>
      <% end %>
    </div>
    <div class="skill">
      <div class="users-index-item">
        <div class="user-left0">
          <p><%= "専門分野"%></p>
        </div>
        <div class="user-right0">
          <div class="subject">
            <p class="margin0"><%= "宇宙論" %></p>
          </div>
          <div class="subject">
            <p class="margin0"><%= "量子情報" %></p>
          </div>
        </div>
      </div>
      <div class="users-index-item">
        <div class="user-left0">
          <p><%= "スキル"%></p>
        </div>
        <div class="user-right0">
          <div class="subject">
            <p class="margin0"><%= "Ruby on rails" %></p>
          </div>
          <div class="subject">
            <p class="margin0"><%= "python" %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- 自分の投稿といいねした投稿を見れる -->
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <div class="contentboxx">
    <% @user.posts.each do |post| %>
    <div class="users-index-item">
          <div class="user-left">
            <!-- ユーザーの画像が表示 -->
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
          </div>
          <div class="user-right">
            <div class="user-name">
              <!-- ユーザー名の表示 -->
              <%= link_to post.user.name, "/users/#{post.user.id}" %>
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

