<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-left">
            <!-- ユーザーの画像が表示 -->
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <!-- ユーザー名の表示 -->
              <%= link_to post.user.name, "/users/#{post.user.id}" %>
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="overlayA">
    <h1 class="form-heading">質問をする</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/posts/create") do %>
            <textarea name="content"><%= @post.content %></textarea>
            <input type="submit" value="投稿" >
        <% end %>
      </div>
    </div>
  </div>
</div>
