<!DOCTYPE html>
<html>
<head>
  <title>SQill</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="header-logo">
    <%= link_to("SQill", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to "SQillとは", "/about" %>
    </li>
    <li>
      <%= link_to "Questions", "/posts/index" %>
    </li>
    <li>
      <%= link_to "ユーザー一覧", "/users/index" %>
    </li>
    <li>
      <%= link_to "新規登録", "/users/signup" %>
    </li>
    <li>
      <div class="btnbtn">
      <%= link_to "Ask Question", "/posts/new", class:"btn btn-default btn_black"%>
      </div>
    </li>
  </ul>
</header>
<!-- flash[:notice]に代入されたメッセージを表示 -->
<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
<% end %>
<%= yield %>
</body>
</html>
