<!DOCTYPE html>
<html>
<head>
  <title>SQill</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="header-logo">
    <%= link_to("SQill", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("SQillとは", "/about") %>
    </li>
    <li>
      <%= link_to("Qestion一覧", "/posts/index") %>
    </li>
    <li>
      <%= link_to("Ask Qestion", "/posts/new"),class:"btn btn-default" %>
    </li>
  </ul>
</header>
<%= yield %>
</body>
</html>
