<!DOCTYPE html>
<html>
<head>
  <title>SQill</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header>
  <div class="header-logo">
    <% if @current_user %>
        <%= link_to("SQill", "/posts/index") %>
    <% else %>
        <%= link_to("SQill", "/") %>
    <% end %>
  </div>
  <ul class="header-menus">
    <% if @current_user %>
        <li>
          <%= link_to @current_user.name, "/users/#{session[:user_id]}" %>
        </li>
        <li>
          <%= link_to "Questions", "/posts/index" %>
        </li>
        <li>
          <div class="btnbtn">
            <%= link_to "Ask Question", "/posts/new", class:"btn btn-default btn_black"%>
          </div>
        </li>
        <li>
          <%= link_to "ログアウト", "/logout", {method: :post}%>
        </li>
    <% else %>
        <li>
          <%= link_to "SQillとは", "/about" %>
        </li>
        <li>
          <%= link_to "新しいアカウントの作成", "/users/signup" %>
        </li>
        <li>
          <%= link_to "ログイン", "/login" %>
        </li>
    <% end %>
  </ul>
</header>
<!-- flash[:notice]に代入されたメッセージを表示 -->
<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
<% end %>
<%= yield %>
</body>
</html>
